<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

  <header>
    <% if (loggedIn) { %>
        <%- include('../partials/headerLogin'); %>
     <% } else { %>
        <%- include('../partials/header'); %>
     <% } %>
</header>
		<!-- RESET PASSWARED FPRM -->
        <div class="container mt-4">
            <div class="row">
                <h2 class="text-center">
                    Reset Passward
                </h2>
            </div>
        </div>
        
        <div class="container" id="acc" style="width:30%" > 
            <div class="container p-5 my-9 ">
              <form id="generateNewPassForm" class="profileForm">
                <label for="password" class="form-label">New Password</label>
                <input type="hidden" name="resetId" id="resetId" value="<%= resetId %>">
                <input type="password" class="form-control" name="password" id="password" placeholder="*********" required>
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="*********" required>
                <button type="submit" class="btnForm" style="justify-content: center;" >Submit</button>
              </form>
            </div> 
        </div>


<script>
    document.getElementById("generateNewPassForm").addEventListener("submit", function (event) {
      event.preventDefault();

      //   alert("hi");

      var form = event.target;
      var formData = new FormData(form);

      var jsonData = {};
      formData.forEach(function (value, key) {
        jsonData[key] = value;
      });
      var reqData = JSON.stringify(jsonData)
      console.log("jsonData",jsonData);
      if (jsonData.password != jsonData.confirm_password) {
        Swal.fire({
        title: 'Error!',
        text: 'Passsword and confirm-password doesnot match',
        icon: 'error',
        confirmButtonText: 'OK'
        })
        // alert(' Passsword and confirm-password doesnot match')
        return;
      }
      $.ajax({
        url: '/api/forgotPasswordReset',
        type: 'post',
        data: jsonData,
        success: function(data){ 
          console.log("response",data)
          if (data.success) {
            Swal.fire(
            'Password Reset',
            data.message,
            'success',
            'OK'
            )
            console.log("response_data",data)
            
            window.location.href = "/";
          } else {
            Swal.fire({
            title: 'Error!',
            text: data.message,
            icon: 'error',
            confirmButtonText: 'OK'
            })
            // alert(data.message)
            // new Toast(data.message, Toast.TYPE_ERROR, Toast.TIME_NORMAL);
            console.log("response_data",data)
          }
        }
      });

    });
</script>
  <%- include('../partials/footer'); %>


</body>
</html>